.experience-container{

    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

.experience-container >div{

    background:var(--color-bg-variant);
    padding:2.4rem 5rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition:var(--transition);
}

.experience-container >div:hover{

    background:transparent;
    border-color:var(--color-primary-variant);
    cursor:default;
}

.experience-container >div h3{

    text-align: center;
    margin-bottom: 2rem;
    color:var(--color-primary);
}

.exp-content{
   
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}

.exp-details{

    display:flex;
    gap:1rem;
}

.icons{

    margin-top: 6px;
    color:var(--color-primary);
    font-size: 2.5rem;
}

.bounce{

    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  


        /* media query for medium devices like tablets */


@media screen and (max-width:1024px){


    .experience-container{

        grid-template-columns: 1fr;
        
    }

    .experience-container >div{

        width:80%;
        padding:2rem;
        margin:0 auto;
    }

    .experience-content{

        padding:1rem;
    }

}



        /* media query for small devices like phones */


@media screen and (max-width:600px){

    .experience-container{

        /* grid-template-columns: 1fr; */
        gap:1rem;
    }

    .experience-container > div{

        width:100%;
        padding:2rem 1rem;
    }


    .text-light{

        text-overflow: clip;
    }


}